* {
    background-color: rgb(237, 114, 237);
    font-family: Arial, Helvetica, sans-serif;
}

li {
    font-size: 14px;
    font-weight: bold;
    color: aqua;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
h3 {
    color: deeppink;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}